body{
    background-color: rgb(89, 89, 216);
}
h2{
    text-align: center;
}
.body{
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    /* width: 50%; */
    /* display: grid;
    grid-auto-flow: row; */
    /* display: flex;
    flex-wrap: wrap;
    
    gap: 5px; */
    /* align-content: center; */
    display: grid;
    grid-template-columns: repeat(5,40px);
    gap: 5px;
    justify-content: center;
    /* background-color: rgb(41, 238, 238); */
    
}
.container button{
    padding: 5px 10px;
    width: 40px;
    height: 40px;
    text-transform: uppercase;
    background-color: rgb(12, 195, 12);
    border: none;

    color: white;
    
    
}
button:hover{
    background-color: red;
}
.result{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
p{
    /* border-bottom: 2px solid black; */
    min-width: 20%;
    height: 20px;
    font-size: 20px;
    text-transform: uppercase;
    /* text-align: center; */
    /* background-color: red; */
}
